.posts-layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 700px) {
    .posts-layout-wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }
}