.layout-container {
  display: flex;
  flex-direction: row;
  margin: 0 -0.35rem;
  /* Take margin into account */
  max-width: calc(1024px + 0.7rem);
  box-sizing: border-box;
}

.layout-iframe-container {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}

.layout-column {
  flex: 1;
  margin: 0 0.35rem;
}

.layout-wrapper {
  width: 100%;
  min-height: 10rem;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-inner {
  min-height: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
