.layout-container {
  display: flex;
  flex-direction: row;
  margin: 0 -0.35rem;
  box-sizing: border-box;
}

.layout-iframe-container {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}

.layout-column {
  flex: 1;
  margin: 0 0.2rem;
}

.layout-wrapper {
  width: 100%;
  min-height: 10rem;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-inner {
  min-height: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  margin: 0 0.35rem;
  width: 100%;
  box-sizing: border-box;
}

.grid-image-one {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  height: 100%;
}

.grid-image-two {
  grid-column: 3;
  grid-row: 1;
  width: calc(100% - 0.1rem);
}

.grid-image-three {
  grid-column: 3;
  grid-row: 2;
  width: calc(100% - 0.11rem);
}

@media only screen and (max-width: 600px) {
  .layout-mobile-container {
    flex-direction: column;
  }
}
