.image-gallery {
  width: 100%;
  min-height: 10rem;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-box {
  min-height: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-gallery);
}

.gallery-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.gallery-title {
  font-family: Montserrat, sans-serif;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.image-entry {
  margin: 0px;
  width: 100%;
  height: 0;
  padding-bottom: 73.5%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.image-entry:hover {
  cursor: zoom-in;
}

.swiper-container {
  width: 100%;
}

.pagination-padding {
  width: 100%;
  height: 35px;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  padding: 15px !important;
  /* display: none !important; */
}

@media only screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
