.layout {
    padding-top: 70px;
    box-sizing: border-box;
}

.layout-base {
    margin-left: auto;
    margin-right: auto;
    max-width: 52.5rem;
    padding: 2.625rem 1.3125rem;
}

.layout-classic {
    flex: 1 1 0%; 
    width: 100%;
}

.layout-columns {
    grid-column: 2 / auto;
}

.layout-columns-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
}

.table-of-contents {
    z-index: 10;
    transform: translate3d(0,0,0);
    grid-column: 3;
    padding: 4rem 0;
    margin-right: 0.5rem;
}


@media screen and (max-width: 1340px) {
    .table-of-contents {
        display: none;
    }

    .layout-columns {
        flex: 1 1 0%;
        width: 100%;
    }

    .layout-columns-wrapper {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .layout {
        padding-top: 60px;
    }
}